
{% extends './base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="static/css/carrito.css">
<!-- Tienda -->
    <!--shop content-->
    <div id="shopContent" class="shop-content"></div>

    <!--modal container-->
    <div id="modal-container" class="modal-container"></div>

    <script src="static/js/carrito.js"></script>
    <script src="static/js/toggle.js"></script>
    <script src="static/js/reloj.js"></script>
    <script src="static/js/products.js"></script>
    <script src="static/js/app.js"></script>

    {% endblock %}

